#include <ardep/dt-bindings/hv-shield-v2.h>

/ {
  zephyr,user{
    output-gpios = <&hv_shield0 HV_SHIELD_V2_OUTPUTS 0 0>,
                   <&hv_shield0 HV_SHIELD_V2_OUTPUTS 1 0>,
                   <&hv_shield0 HV_SHIELD_V2_OUTPUTS 2 0>,
                   <&hv_shield0 HV_SHIELD_V2_OUTPUTS 3 0>,
                   <&hv_shield0 HV_SHIELD_V2_OUTPUTS 4 0>,
                   <&hv_shield0 HV_SHIELD_V2_OUTPUTS 5 0>;

    input-gpios = <&hv_shield0 HV_SHIELD_V2_INPUTS 0 0>,
                  <&hv_shield0 HV_SHIELD_V2_INPUTS 1 0>,
                  <&hv_shield0 HV_SHIELD_V2_INPUTS 2 0>,
                  <&hv_shield0 HV_SHIELD_V2_INPUTS 3 0>,
                  <&hv_shield0 HV_SHIELD_V2_INPUTS 4 0>,
                  <&hv_shield0 HV_SHIELD_V2_INPUTS 5 0>;

    fault-gpios = <&hv_shield0 HV_SHIELD_V2_FAULT_PINS 0 0>,
                  <&hv_shield0 HV_SHIELD_V2_FAULT_PINS 1 0>,
                  <&hv_shield0 HV_SHIELD_V2_FAULT_PINS 2 0>;
  };
};
