#include <ardep/dt-bindings/hv-shield-v2.h>

/ {
  zephyr,user{
    output-gpios = <&hv_shield0 0x00 0>,
                   <&hv_shield0 0x01 0>,
                   <&hv_shield0 0x02 0>,
                   <&hv_shield0 0x03 0>,
                   <&hv_shield0 0x04 0>,
                   <&hv_shield0 0x05 0>;

    input-gpios = <&hv_shield0 0x10 GPIO_ACTIVE_LOW>,
                  <&hv_shield0 0x11 GPIO_ACTIVE_LOW>,
                  <&hv_shield0 0x12 GPIO_ACTIVE_LOW>,
                  <&hv_shield0 0x13 GPIO_ACTIVE_LOW>,
                  <&hv_shield0 0x14 GPIO_ACTIVE_LOW>,
                  <&hv_shield0 0x15 GPIO_ACTIVE_LOW>;

    fault-gpios = <&hv_shield0 0x20 0>,
                  <&hv_shield0 0x21 0>,
                  <&hv_shield0 0x22 0>;
  };
};
