#include <ardep/dt-bindings/hv-shield-v2.h>

/ {
  zephyr,user{
    output-gpios = <&hv_shield0 HV_SHIELD_V2_OUTPUT(0) 0>,
                   <&hv_shield0 HV_SHIELD_V2_OUTPUT(1) 0>,
                   <&hv_shield0 HV_SHIELD_V2_OUTPUT(2) 0>,
                   <&hv_shield0 HV_SHIELD_V2_OUTPUT(3) 0>,
                   <&hv_shield0 HV_SHIELD_V2_OUTPUT(4) 0>,
                   <&hv_shield0 HV_SHIELD_V2_OUTPUT(5) 0>;

    input-gpios = <&hv_shield0 HV_SHIELD_V2_INPUT(0) GPIO_ACTIVE_LOW>,
                  <&hv_shield0 HV_SHIELD_V2_INPUT(1) GPIO_ACTIVE_LOW>,
                  <&hv_shield0 HV_SHIELD_V2_INPUT(2) GPIO_ACTIVE_LOW>,
                  <&hv_shield0 HV_SHIELD_V2_INPUT(3) GPIO_ACTIVE_LOW>,
                  <&hv_shield0 HV_SHIELD_V2_INPUT(4) GPIO_ACTIVE_LOW>,
                  <&hv_shield0 HV_SHIELD_V2_INPUT(5) GPIO_ACTIVE_LOW>;

    fault-gpios = <&hv_shield0 HV_SHIELD_V2_FAULT(0) 0>,
                  <&hv_shield0 HV_SHIELD_V2_FAULT(1) 0>,
                  <&hv_shield0 HV_SHIELD_V2_FAULT(2) 0>;
  };
};
