menuconfig HV_SHIELD_V2
  bool
  prompt "HV Shield Driver"
  depends on GPIO && I2C

if HV_SHIELD_V2
  module = HV_SHIELD_V2
  module-str = HV Shield V2
  source "subsys/logging/Kconfig.template.log_config"

  config HV_SHIELD_V2_INIT_PRIORITY
    int
    prompt "HV Shield V2 init priority"
    default I2C_INIT_PRIORITY
endif
