menuconfig BINARY_ENCODED_GPIO
  bool
  prompt "Binary Encoded GPIO Driver"
  imply GPIO

if BINARY_ENCODED_GPIO
  module = BINARY_ENCODED_GPIO
  module-str = Binary Encoded GPIO Driver
  source "subsys/logging/Kconfig.template.log_config"

  config BINARY_ENCODED_GPIO_INIT_PRIORITY
    int
    prompt "Binary Encoded GPIO Driver init priority"
    default 42
endif
